<h1>HUNT Transactions</h1>

<ul class="nav justify-content-end">
  <li class="nav-item">
    <%= link_to "Pending (#{@count['pending'] || 0})", admin_tokens_path(status: 'pending'), class: 'nav-link active' %>
  </li>
  <li class="nav-item">
    <%= link_to "Running (#{@count['running'] || 0})", admin_tokens_path(status: 'running'), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Sent (#{@count['sent'] || 0})", admin_tokens_path(status: 'sent'), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Error (#{@count['error'] || 0})", admin_tokens_path(status: 'error'), class: 'nav-link' %>
  </li>
</ul>

<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |t| %>
      <tr>
        <td><%= link_to "@#{t.user.username}", t.user.url, target: '_blank' %></td>
        <td><%= t.amount %></td>
        <td class="<%= t.status %>">
          <%= t.tx_hash.blank? ? t.status : link_to(t.status, t.url, target: '_blank') %>
        </td>
        <td><%= time_ago_in_words t.created_at %></td>
        <td><%= time_ago_in_words t.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @transactions, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
