<!DOCTYPE html>
<html>
   <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <title>HUNT - Power of Product Influencers</title>
    <!-- Search Engine -->
    <meta name="image" content=/og-image-1200.png">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="HUNT - Power of Product Influencers">
    <meta itemprop="description" content="HUNT is an incentivising community platform on top of Steem Blockchain for product influencers who have exceptional knowledge and passion for cool new products.">
    <meta itemprop="image" content=/og-image-1200.png">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="HUNT - Power of Product Influencers">
    <meta name="twitter:description" content="HUNT is an incentivising community platform on top of Steem Blockchain for product influencers who have exceptional knowledge and passion for cool new products.">
    <meta name="twitter:image:src" content=/og-image-1024.png">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="HUNT - Power of Product Influencers">
    <meta name="og:description" content="HUNT is an incentivising community platform on top of Steem Blockchain for product influencers who have exceptional knowledge and passion for cool new products.">
    <meta name="og:image" content=/og-image-1200.png">
    <meta name="og:url" content="https://token.steemhunt.com">
    <meta name="og:site_name" content="Steemhunt">
    <meta name="og:type" content="website">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">

    <!-- Favicons & App Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fc6f6f">
    <meta name="theme-color" content="#ffffff">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400|Open+Sans:300,400" rel="stylesheet">

    <%= javascript_include_tag 'application' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-77286486-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-77286486-3');
    </script>
  </head>

  <body data-spy="scroll" data-target="#myScrollspy">
    <%= yield %>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
