<!DOCTYPE html>
<html>
  <head>
    <title>TokenWebsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans:300,400" rel="stylesheet">
  </head>

  <body data-spy="scroll" data-target="#myScrollspy">
    <%= yield %>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
